.instilogo {
    height: 70px;
    padding-right: 100px;
    filter: grayscale(20%);
}

a:hover {
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}


.noter {
    font-size: 9pt;
}

.tagsep {
    padding: 4px;
}

.tag {
    padding-right: 2px;
}

.confshort {
    font-weight: 300;
}

.conf {
    display: inline-block;
    padding-bottom: 4px;
}

.paper {
    border-left: 1px solid #ddd;
}

.profilepic {
    width: 170px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .fixed-posi {
        position: fixed;
    }
}

@media only screen and (max-width: 900px) {
    .allstuff {
        padding-top: 0px !important;
    }

    .allstuffp {
        padding-top: 0px !important;
    }

    .profilepic {
        width: 150px;
        border-radius: 10%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

}

.social-media-icons a {
    padding: 10px;
    font-size: 20px;
    color: #fff; /* Change color as needed */
    text-decoration: none; /* Remove underline */
}

.social-media-icons a:hover {
    opacity: 0.7; /* Add hover effect */
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff; /* white color */
    background-color: #FFD700; /* gold background */
}

.degree {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #fff; /* white color */
    background-color: #FF0000; /* red background */
}